{% extends 'ecomm/base.html' %}

{% block title %}
    Good detail
{% endblock %}

{% block content %}
    <ul>
        <li><p class="mb-5">Name: {{ goods.name }}</p></li>
        <li><p class="mb-5">Price: {{ goods.price }} $</p></li>
        <li><p class="mb-5">Description: {{ goods.description }}</p></li>
        <li><p class="mb-5">Rating: {{ goods.rating }}</p></li>
        <li><p class="mb-5">Brand: {{ goods.brand }}</p></li>
        <li><p class="mb-5">Available: {{ goods.is_available|lower }}</p></li>
        {% for category in goods.categories.all %}
            <li><p class="mb-5">Category: {{ category.name|lower }}</p></li>
        {%  endfor %}
        <li><p class="mb-5">Shipping charge: {{ goods.shipping_charge }} $</p></li>
    </ul>

    <div>
        <a class="" href="{% url 'goods_list_url' %}">Goods</a>
    </div>

    <div>
        <a class="" href="{% url 'main_url' %}">Main</a>
    </div>

{% endblock %}
