{% extends 'ecomm/base.html' %}

{% load ecomm_extras tz %}

{% block title %}
    Main
{% endblock %}

{% block content %}

    <h3 class="mb-5">Site works</h3>

    <div class="h4 mb-5">{{ simple_string|inverse }}</div>

    {% current_time "%d-%m-%Y %H:%M" as the_time %}
    <div class="h4 mb-5">The time is {{ the_time }}</div>

    <div>
        <a class="" href="{% url 'goods_list_url' %}">Goods</a>
    </div>

    {% if turn_on_block %}
        <div>
            <a class="" href="/about/">About us</a>
        </div>
        <div>
            <a class="" href="/contacts/">Contacts</a>
        </div>
    {% else %}
    {% endif %}

{% endblock %}
