{% extends 'ecomm/base.html' %}

{% block title %}
    Login
{% endblock %}

{% block content %}

    <form action="{% url 'login_url' %}" method="post">
        {% csrf_token %}
        <div class="row mb-3">
            {% for field in form %}
                <div class="form-group">
                    {% if field.errors %}
                        <div class="alert alert-danger">
                            {{ field.errors }}
                        </div>
                    {% endif %}

                    {{ field.label }}
                    {{ field }}
                </div>
            {% endfor %}
        </div>

        <button type="submit" class="btn btn-primary">Login</button>
    </form>

{% endblock %}
